<%- include ../_header.ejs %>
  <form class="form-horizontal" action="" method="post">
    <% if (typeof(data) !== 'undefined' && typeof(data.id) !== 'undefined') { %>
      <input type="hidden" name="id" value="<%= data.id %>" />
    <% } %>
    <% input = {name:"Name", slug:"name", placeholder:"Maxwell Johannesburg", type:"input"} %>
    <%- include ../_input_group.ejs %>
    <% input = {name:"Email Address", slug:"email", placeholder:"max@gmail.com", type:"input"} %>
    <%- include ../_input_group.ejs %>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="inputPassword">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password"
          <% if (typeof(data) !== 'undefined' && typeof(data.password) !== 'undefined') { %>value="<%= data.password %>"<% } %>>
        <% if (typeof(errors) !== 'undefined' && typeof(errors.password) !== 'undefined') { %>
          <div class="alert alert-danger">
          <% for (var i=0, len=errors.password.length; i<len; i++){ %>
            <p><%= errors.password[i] %></p>
          <% } %>
          </div>
        <% } %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="inputPassword2">Re-enter Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name="password2"
          <% if (typeof(data) !== 'undefined' && typeof(data.password2) !== 'undefined') { %>value="<%= data.password2 %>"<% } %>>
        <% if (typeof(errors) !== 'undefined' && typeof(errors.password2) !== 'undefined') { %>
          <div class="alert alert-danger">
          <% for (var i=0, len=errors.password2.length; i<len; i++){ %>
            <p><%= errors.password2[i] %></p>
          <% } %>
          </div>
        <% } %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-default">Submit</button>
        <a class="text-danger" href="/users">cancel</a>
      </div>
    </div>
  </form>
<%- include ../_footer.ejs %>
